.lower-navbar {
    position: relative;
    top: 17vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    z-index: 0; 
    overflow: hidden;
    max-width: 100%;
  }
  
  .lower-navbar .navbar_links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .lower-navbar .navbar_links a {
    color: rgb(11, 11, 11);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .lower-navbar .navbar_links a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .lower-active {
    background: rgb(152, 222, 246);
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .slash {
    font-weight: 700;
    font-size: 1.5rem;
    color: #333;
    margin: 0 10px;
  }
  .empty-container{
    width: 15%;
    background-color: aquamarine;
  }
  