.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 60px;
  top: 250px;


}

/* Circle container for alignment */
.circle-container {
  width: 20vw;
  padding: 1rem;
}

/* Circle center for value display */
.circle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
}

.circle-center .value {
  font-size: 2.5rem;
  font-weight: 700;
}

.circle-label {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: rgb(2, 141, 2);
}




/* Responsive Design */
@media (max-width: 1200px) {

  .progress-bar-container {
    right: 70px;
  }

  .circle-container {
    width: 150px;
    height: 150px;
  }

  .circle-center .value {
    font-size: 1.8rem;
  }

  .circle-label {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .circle-center .value {
    font-size: 1.5rem;
  }

  .circle-label {
    font-size: .9rem;
  }

}

@media (max-width: 870px) {

  .progress-bar-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 22vh;
    top: 78vh;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    background: whitesmoke;
    border-top: 1.5px solid rgb(194, 194, 194);
  }

  .circle-container {
    position: absolute;
    right: 30%;
    width: 100px;
    height: 100px;
  }

  .circle-center {
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .circle-center .value {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .circle-label {
    font-size: 1.5rem;
    color: green;
    font-weight: 600;
    transform: translateX(-30%);
  }

}

@media(max-width:710px) {
  .circle-label {
    font-size: 1.4rem;
    transform: translateX(-50%);
  }
}

@media(max-width:610px) {
  .circle-label {
    font-size: 1.4rem;
    transform: translateX(-70%);
  }
}

@media (max-width: 576px) {
  .circle-container {
    width: 85px;
    height: 85px;
  }

  .circle-center .value {
    font-size: 1.4rem;
  }

  .circle-label {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .progress-bar-container {
    top: 80vh;
    height: 20vh;
  }

  .circle-container {
    width: 80px;
    height: 80px;
  }

  .circle-center .value {
    font-size: 1.1rem;
  }

  .circle-label {
    font-size: 0.9rem;
    transform: translateX(-65px);
  }
}

@media (max-width:400px) {
  .progress-bar-container {
    top: 85%;
    height: 15vh;
    width: 100%;
  }

  .circle-container {
    width: 70px;
    height: 70px;
  }

  .circle-center .value {
    font-size: 0.9rem;
  }

  .circle-label {
    font-size: 0.8rem;
    transform: translateX(-60px);
  }

}

@media(max-width:325px) {
  .progress-bar-container {
    top: 87%;
  }
}

@media(max-width:280px) {
  .progress-bar-container {
    top: 90%;
  }
}